body{
    background-color: pink;
        
}
img{
    animation: picture 10s ease-in-out 2s infinite;
}
@keyframes picture{
    0%{
        transform: rotate(0deg)translate(0px, 0px);
    }
    50%{
        transform: rotate(360deg)translate(10px, 0px);
    }
    100%{
        transform: rotate(0deg)translate(10px, 10px);
    }
}